<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">Mauro Web Site</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a mat-list-item routerLink="/" (click)="onSidenavClose()">
          <span >Inicio</span>
        </a>
      </li>

      <li>
        <a mat-list-item routerLink="/job" (click)="onSidenavClose()">
          <span >Experiencia</span>
        </a>
      </li>

      <li>
        <a mat-list-item routerLink="/category" (click)="onSidenavClose()">
          <span >Conocimiento</span>
        </a>
      </li>

      <li>
        <a mat-list-item routerLink="/courses" (click)="onSidenavClose()">
          <span >Cursos</span>
        </a>
      </li>

      <li>
        <a mat-list-item routerLink="/contact" (click)="onSidenavClose()">
          <span >Contacto</span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
