<app-layout>
  <mat-sidenav-container>    
      <!--this is a place for us to add side-nav code-->
      <mat-sidenav #sidenav role="navigation">
          <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
        </mat-sidenav>
    
    <mat-sidenav-content>      
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>

<!-- <mat-toolbar color="primary">
  Mauro Dario Luna Ayala App
</mat-toolbar>
<div class="basic-container">
  <app-nav></app-nav>
</div> -->
